<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[code] BLUEs</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav>
          <ul>
            <li class="home"><a href="/">[code] BLUEs</a></li>
            <li><a href="signup">signup</a></li>
            {{#if loggedIn}}
              <li class="nav"><button id="logout">logout</button></li>
            {{else}}
              <li class="nav"><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <p>Come Again Friend!</p>
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

  </body>

</html>