* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(252, 244, 232);
  height: 55px;
}

li {
  float: right;
}

.home {
  float: left;
}

li a {
  display: block;
  color: rgb(88, 88, 235);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

footer {
  background-color: rgb(252, 244, 232);
  font-weight: bold;
  color: rgb(88, 88, 235);
  position: sticky;
  font-family: sans-serif;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 40px;
}

footer p {
  text-align: center;
  float: left;
  padding-left: 40px;
  padding-top: 5px;
}

#login {
  background-color: rgb(72, 72, 117);
  height: 100%;
  width: 100%;
}

.login {
  text-align: center;
  padding-top: 20%;
  color: rgb(252, 244, 232);
  font-family: sans-serif;
}

#signup {
  background-color: rgb(72, 72, 117);
  height: 100%;
  width: 100%;
}

.signup {
  text-align: center;
  padding-top: 20%;
  color: rgb(252, 244, 232);
  font-family: sans-serif;
}

#homepage {
  background-color: rgb(72, 72, 117);
  height: 100%;
  width: 100%;
}

.homepage {
  text-decoration: none;
  text-align: center;
  padding-top: 20%;
  color: rgb(252, 244, 232);
  font-family: sans-serif;
}

button {
  background-color: #225ca3;
  border: 3;
  padding: 1%;
  color: rgb(252, 244, 232);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

textarea,
input {
  background-color: rgb(252, 244, 232);
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}
