* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #1ecbe1, #e11ecb);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  top: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

header h1 {
  font-size: 28px;
  line-height: 5px;
}
header h4 {
  font-size: 12px;
  line-height: 5px;
}

h2 {
  color: #fff;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #1ecbe1;
  font-weight: bold;
  transition: color 0.1s;
  /* padding: 5px; */
}

.navBtn {
  margin: 4px;
}

a:hover {
  color: #1ee196;
}

button {
  background-color: #1ecbe1;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #1ee196;
}

.post-list {
  margin: 0;
  padding: 0;
}

.post {
  line-height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

/* .post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
} */

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.signUp {
  align-items: center;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 0;
  padding: 5% 20% 20%;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  color: #fff;
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  color: #1e6ae1;
}

.meta {
  /* padding: 5px; */
  margin: 10 0 0 0px;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 500px;
}

.new-post-text {
  width: 500px;
  height: 300px;
  word-wrap: break-word;
}

.edit-post-form {
  margin-bottom: 5%;
}

li {
  list-style-type: none;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
